@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* space */
  --section-space: 140px 0;
  --section-space-top: 140px 0 0;
  --classes-section-space: 390px 0 140px;
  --section-space-small: 70px 0;
  --content-top-space: 50px 0 0;

  /* btn */
  --main-btn-height: 60px;
  --main-btn-padding: 0 45px;
  --main-btn-radius: 10px;

  /* bg */
  --black-bg: #151c23;
  --white-bg: #ffffff;
  --orange-bg: #fd3d0d;
  --orange-bg-light: #fd3d0d1a;
  --gray-bg-light: #ffffff1a;

  /* color */
  --black-color: #151c23;
  --white-color: #ffffff;
  --gray-color: #787878;
  --silver-color: #909cad;
  --orange-color: #fd3d0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
  background: var(--white-bg);
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  overflow-wrap: break-word;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-color);
}
h1 {
  font-size: 4.5rem;
  line-height: 1.1em;
  font-weight: 900;
  font-family: "Catamaran", sans-serif;
  color: var(--black-color);
}
h2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1em;
  font-family: "Catamaran", sans-serif;
  color: var(--black-color);
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1em;
  font-family: "Catamaran", sans-serif;
  color: var(--black-color);
}
h4 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1em;
  font-family: "Catamaran", sans-serif;
  color: var(--black-color);
}
h5 {
  font-size: 1.5rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: var(--black-color);
  line-height: 1.2em;
}
h6 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Catamaran", sans-serif;
  line-height: 1.2em;
  color: var(--black-color);
}

.sectionSubtitle {
  background-color: var(--orange-bg-light);
  color: var(--orange-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  font-size: 19px;
  font-weight: 600;
  height: 55px;
  text-transform: uppercase;
  padding: 8px 25px;
  border-radius: 8px;
}

.centerHeading {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 0 40px;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: var(--orange-bg);
  display: inline-flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  flex: none;
  font-size: 20px;
  border-radius: 100px;
  color: var(--white-color);
  z-index: 1000;
  transition: all 0.3s ease;
  transform: translateY(20px);
}

.backtopShow {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 767.98px) {
  :root {
    /* btn */
    --main-btn-height: 50px;
    --main-btn-padding: 0 25px;

    /* space */
    --section-space: 100px 0;
    --section-space-top: 100px 0 0;
    --classes-section-space: 320px 0 100px;
    --section-space-small: 60px 0;
    --content-top-space: 40px 0 0;
  }

  .backToTop {
    bottom: 30px;
    right: 12px;
  }

  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .sectionSubtitle {
    height: 45px;
    font-size: 15px;
  }

  .centerHeading {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  :root {
    /* btn */
    --main-btn-height: 55px;
    --main-btn-padding: 0 25px;

    /* space */
    --section-space: 100px 0;
    --section-space-top: 100px 0 0;
    --classes-section-space: 320px 0 100px;
    --section-space-small: 60px 0;
    --content-top-space: 40px 0 0;
  }

  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  :root {
    /* btn */
    --main-btn-height: 55px;
    --main-btn-padding: 0 25px;

    /* space */
    --section-space: 100px 0;
    --section-space-top: 100px 0 0;
    --classes-section-space: 320px 0 100px;
    --section-space-small: 60px 0;
    --content-top-space: 40px 0 0;
  }

  .container {
    max-width: 960px;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.2rem;
  }

  .sectionSubtitle {
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .container {
    max-width: 1140px;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}
