.sliderWrapper {
  width: 100%;
}

/* Swiper slide */
:global(.swiper-slide) {
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  transform: scale(0.9);
  opacity: 0.6;
}

/* Navigation buttons */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px;
  min-height: 30px;
  padding: 8px;
  border-radius: 50%;
  background: var(--orange-bg);
  transform: scale(0.95);
  opacity: 0.8;
  color: var(--white-color);
}

:global(.swiper-slide-active) {
  transform: scale(1);
  opacity: 1;
}

/* Arrow icon */
:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-size: 10px !important;
}

/* Remove default spacing */
:global(.swiper-button-next) {
  right: 0;
}

:global(.swiper-button-prev) {
  left: 0;
}

@media (max-width: 1023.98px) {
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    display: none;
  }
}
